    body {
    margin: 0;
    padding: 0;
    background-color: #0B1416;
    --Border-Lines: #2d2d2e;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div a {
    text-decoration: none;
}


/* Top Navbar START */
.Top_Navbar {
    background-color: #0B1416;
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Border-Lines);
}
.Logo {
    width: 8%;
    height: 10%;
    margin-left: 100px;

}
.Person_Icon,
.Notification_Icon,
.Add {
    margin-right: 20px;
    color: #f0ebeb;
    font-size: 40px;
}
/* Top Navbar END */


/* Search Bar START */
.Search_Bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.Search_Container {
    position: relative;
    font-size: 30px;
    width: 84%;
}
.Search_Icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0ebeb;
}
.Search_Input {
    width: 788px;
    background-color: #1A282D;
    padding: 12px 60px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #f0ebeb;
}

.Sidebar_Create input{
    color: #f0ebeb;
}

.Sidebar_Create input[type=text]{
    background-color: #1A282D;
    color:#f0ebeb;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    width: 200px;

}
.Sidebar_Create input[type=text]::placeholder{
   color: #a0a0a0;    
   scrollbar-width: none;
}
.Sidebar_Create textarea{
    background-color: #1A282D;
    color:#f0ebeb;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
}

.Sidebar_Create textarea::placeholder{
    color:#a0a0a0;
}

.Sidebar_Create button:hover{
    background-color:#2a4149;
    
}
/* Search Bar END */


/* Side Navbar START */
.Side_Navbar {
    padding-top: 90px;
    margin-top: -70px;
    margin-left: 100px;
    background-color: #0B1416;
    width: 240px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--Border-Lines);
}
.Side_Navbar a {
    color: #f0ebeb;
    font-size: 18px;
    padding: 8px;
}
.Message_Icon,
.Sidebar_Home,
.Sidebar_profile,
.Sidebar_Store,
.Sidebar_About,
.Sidebar_Question,
.Sidebar_Settings
{
    padding-bottom: 20px;
    color: #f0ebeb;
    font-size: 16px;
    text-align: start;
    position: relative;
}
.Sidebar_Store::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--Border-Lines);
    width: 90%;
    position: absolute;
    bottom: 0;
}
.Sidebar_Store:hover,
.Sidebar_profile:hover,
.Sidebar_Home:hover,
.Sidebar_Notification:hover,
.Sidebar_Inbox:hover,
.Sidebar_About:hover,
.Sidebar_Question:hover,
.Sidebar_Settings:hover {
    background-color: #393A3B;
    border-radius: 5px;
    width: 160px;
    cursor: pointer;
}
.Communities h3,
.Resources h3{
    font-weight: 900;
    color: #f0ebeb;
}
.Sidebar_Notification,
.Sidebar_Inbox{
    padding-bottom: 20px;
    color: #f0ebeb;
    font-size: 16px;
    text-align: start;
    position: relative;
}
.Sidebar_Create button{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    background-color:#1A282D;
    color: #00aaff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.Sidebar_Create{
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Border-Lines);
}
/* Side Navbar END */

/* Open Forum START */
.Label{
    text-decoration: underline;
    font-size: 22px;
    color: #f0ebeb;
    margin-top: 150px; 
    margin-left: 25%; 
    width: 50%;
}
.Feed_Container {
    margin-top: 50px;
    margin-left: 360px;
    display: flex;
    flex-wrap: wrap;
}
.News_Row {
    display: flex;
    width: 100%;
}
.News_Post {
    background-color: #1A282D;
    padding: 20px;
    width: calc(40% - 40px); 
    margin: 0 20px 20px 0; 
    border-radius: 10px;
}
.News_Post h2 {
    color: #f0ebeb;
    font-size: 18px;
    margin-bottom: 10px;
}
.News_Post p {
    color: #a0a0a0;
    font-size: 14px;
    margin-bottom: 10px;
}
.News_Post a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.extended-content {
    display: none;
}
.extended-content.show {
    display: block;
}
.comment-form {
    margin-top: 150px;
    padding: 20px;
    background-color: #1A282D;
    border-radius: 8px;
    border: 2px solid var(--Border-Lines);
    
}


.comment-form textarea {
    width: 100%; 
    margin-bottom: 10px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A282D;
    border-color: #0B1416;
    border-radius: 10px;
    color:#a0a0a0 ;
    overflow: hidden;
    border: none;
}

textarea::placeholder {
    color: white;
}

.comment-form button:not(:last-child){
    width: 100px;
    padding: 10px 20px;
    margin-right: 30px;
    border: none;
    border-radius: 50px;
    background-color:#00aaff;;
    color:#f0ebeb;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.comment-form button{
    width: 100px;
    padding: 10px 20px;
    margin-right: 30px;
    border: none;
    border-radius: 50px;
    background-color:#2a4149;
    color:#f0ebeb;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #393A3B;
}

.display-none{
    display: none;
}


/* Open Forum END */
@media screen and (max-width: 414px) and (max-height:896px) {

    .Top_Navbar{
        width: 100%;
        padding: 20px;
    }
    .Logo {
        margin-left: 0px;
        margin-right: 5px;
        width: 80px;
        height: 60px;
    }
    .Search_Bar {
        display: contents;
        padding: 10px 60px;
    }
    .Search_Container {
        font-size:14px;
    }
    .Search_Input {
        width: 50px;
        font-size: 14px;
    }
    .Side_Navbar {
        display: none;
        margin-left: 0px;
        padding-left: 10px;
    }
    .Side_Navbar.active {
        display: block;
    }
    .Notification_Profile {
        display: flex;
        transform: scale(.5);
        margin-right: 50px;
    }
    .Label{
        margin-left: 8%; 
    }
    .Feed_Container{
        margin-left: 8%; 
        width: 90%;
    }
    .News_Post {
        padding: 20px;
        width: 90%; 
    }
}