body {
    margin: 0;
    padding: 0;
    background-color: #0B1416;
    box-sizing: border-box;
    --Border-Lines: #393A3B;
}
div a {
    color: inherit;
    text-decoration: none; 
}

/* Top Navbar START */
.Top_Navbar {
    background-color: #0B1416;
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--Border-Lines);
}
.Logo {
    margin: 0; 
}

.Person_Icon{
    margin-right: 20px;
}
.Person_Icon,
.Notification_Icon,
.Add{
    color:#f0ebeb;
    font-size: 40px;
}
/* Top Navbar END*/


/* Search Bar START */
.Search_Bar {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
}
.Search_Container {
    position: relative;
}
.Search_Icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0ebeb; 
}
.Search_Input {
    width: 500px;
    background-color: #1A282D;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
}
/* Search Bar END */


/* Side Navbar START */
.Side_Navbar {
    background-color: #0B1416;;
    width: 200px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--Border-Lines);
}

.Sidebar_Home {
    text-decoration: none;
    padding-bottom: 20px;
    margin-top: 140px;
    margin-left: 30px;
    color: #f0ebeb;
    font-size: 18px;
    text-align: start;
    position: relative;
}

.Sidebar_profile {
    padding-bottom: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: #f0ebeb;
    font-size: 18px;
    text-align: start;
    position: relative;
}

.Sidebar_Store {
    padding-bottom: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: #f0ebeb;
    font-size: 18px;
    text-align: start;
    position: relative;
}

.Sidebar_Store::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--Border-Lines);
    width: 90%; 
    position: absolute;
    bottom: 0;
}

/* Individual hover states for each element */
.Sidebar_Store:hover,
.Sidebar_profile:hover,
.Sidebar_Home:hover {    
    background-color: #393A3B;
    border-radius: 5px;
    width: 160px;
}
.Communities h3{
    text-align: center;
    color:#a09e9e;

}
/*Side Navbar Community*/
.CreateCouminity{
    margin-left: 30px;
    color:#fffcfc;
    text-align: center;
}
.CreateCouminity a{
    color: #fffcfc;
}
/* Side Navbar END*/