body {
    margin: 0;
    padding: 0;
    background-color: #0B1416;
    --Border-Lines: #2d2d2e;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div a {
    text-decoration: none;
}

/* Top Navbar START */
.Top_Navbar {
    background-color: #0B1416;
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--Border-Lines);
}
.Logo {
    text-decoration: underline;
    font-weight: 900;
    margin-left: 80px;
    color: #f0ebeb;
}
.Person_Icon,
.Notification_Icon,
.Add {
    margin-right: 20px;
    color: #f0ebeb;
    font-size: 40px;
}
/* Top Navbar END */


/* Search Bar START */
.Search_Bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    
}
.Search_Container {
    position: relative;
    font-size: 30px;
    width: 84%;
}
.Search_Icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0ebeb;
}
.Search_Input {
    width: 600px;
    background-color: #1A282D;
    padding: 12px 60px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}
/* Search Bar END */


/* Side Navbar START */
.Side_Navbar {
    padding-top: 90px;
    margin-top: -100px;
    margin-left: 100px;
    background-color: #0B1416;
    width: 240px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--Border-Lines);
}
.Side_Navbar a {
    color: #f0ebeb;
    font-size: 18px;
    padding: 8px;
}
.Message_Icon,
.Sidebar_Home,
.Sidebar_profile,
.Sidebar_Comunities,
.Sidebar_Store,
.Sidebar_About,
.Sidebar_Question,
.Sidebar_Settings
{
    padding-bottom: 20px;
    color: #f0ebeb;
    font-size: 16px;
    text-align: start;
    position: relative;
}
.Sidebar_Store::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--Border-Lines);
    width: 90%;
    position: absolute;
    bottom: 0;
}
.Sidebar_Store:hover,
.Sidebar_profile:hover,
.Sidebar_Home:hover,
.Sidebar_Create:hover {
    background-color: #393A3B;
    border-radius: 5px;
    width: 200px;
}

/* Side Navbar Community */
.Communities h3,
.Resources h3 {
    font-weight: 900;
    font-size: 16px;
    color:#f0ebeb
}
.Sidebar_Create {
    color: #fffcfc;
    padding-bottom: 20px;
}
.Sidebar_Create a {
    font-size: 16px;
}
.Sidebar_Comunities{
    margin-right: 20px;
    border-bottom:1px solid var(--Border-Lines); 
}
.Sidebar_Comunities a{
    font-size:16px ;
}
/* Side Navbar Community END*/

/* Side Navbar END */


/* Feed START */
.Label{
    font-size: 22px;
    color: #f0ebeb;
    margin-top: 120px; 
    margin-left: 52%; 
    width: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid var(--Border-Lines); 
}
.Feed_Container{
    margin-top: 40px; 
    margin-bottom: -60px; 
    margin-left: 390px;
    flex: 0.5;
    width: calc(40% - 360px);
    min-width: fit-content;
    overflow-y: scroll;
    scrollbar-width: none;
}
.News_Post {
    background-color: #1A282D;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.News_Post h2 {
    color: #f0ebeb;
    font-size: 18px;
    margin-bottom: 10px;
}
.News_Post p {
    color: #a0a0a0;
    font-size: 14px;
    margin-bottom: 10px;
}
.News_Post a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
/* Feed END */


/* RIGHT Side Navbar RIGHT */
.Navbar_Right {
    padding-top: 90px;
    margin-top: 0px;
    margin-left: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100vh;
    background-color: #0B1416;
    border-left: 1px solid var(--Border-Lines);
    z-index: 999;
}
.widgets {
    padding: 20px;
}
.widgets__input{
    border: none;
    background-color: transparent;
    margin-left: 10px;
    color: #f0ebeb;
    outline: none;
    width: 100%;
}
.widgets__widgetContainer {
    background-color: #1A282D;
    padding: 20px;
    border-radius: 15px;
    color: #f0ebeb;
}
/* RIGHT Side Navbar END */