body {
    margin: 0;
    padding: 0;
    background-color: #0B1416;
    --Border-Lines: #2d2d2e;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div a {
    text-decoration: none;
}

/* Top Navbar START */
.Top_Navbar {
    background-color: #0B1416;
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Border-Lines);
}
.Logo {
    width: 30%;
    height: 10%;
    margin-left: 100px;

}
.Person_Icon,
.Notification_Icon,
.Add {
    margin-right: 20px;
    color: #f0ebeb;
    font-size: 40px;
}
.Person_Icon:hover{
    background-color: #393A3B;
    border-radius: 10px;
}
/* Top Navbar END */


/* Search Bar START */
.Search_Bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.Search_Container {
    width: 84%;
    position: relative;
    font-size: 30px;
}
.Search_Icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0ebeb;
}
.Search_Input {
    width: 600px;
    background-color: #1A282D;
    padding: 12px 60px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #f0ebeb;
}
/* Search Bar END */


/* Side Navbar START */
.Side_Navbar {
    margin-left: 100px;
    margin-top: 120px;
    background-color: #0B1416;
    width: 240px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--Border-Lines);
    overflow-y: auto;
    
}
.Side_Navbar a {
    color: #f0ebeb;
    font-size: 18px;
    padding: 8px;
}
.Communities h3,
.Resources h3{
    font-weight: 900;
    font-size: 16px;
    color:#f0ebeb
}
.Sidebar_Home,
.Sidebar_profile,
.Sidebar_Store {
    padding-bottom: 20px;
    color: #f0ebeb;
    font-size: 16px;
    text-align: start;
    position: relative;
}
.Sidebar_Store::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--Border-Lines);
    width: 90%;
    position: absolute;
    bottom: 0;
}
.Sidebar_Store:hover,
.Sidebar_profile:hover,
.Sidebar_Home:hover,
.Sidebar_Notification:hover,
.Sidebar_Inbox:hover,
.Sidebar_Buying:hover,
.Sidebar_Selling:hover,
.Sidebar_About:hover,
.Sidebar_Question:hover,
.Sidebar_Settings:hover
{
    background-color: #393A3B;
    border-radius: 5px;
    width: 160px;
    cursor: pointer;
}
.Sidebar_Notification,
.Sidebar_Inbox,
.Sidebar_Buying,
.Sidebar_Selling,
.Sidebar_About,
.Sidebar_Question,
.Sidebar_Settings{
    color: #f0ebeb;
    font-size: 18px;
    padding: 8px;
}
.Sidebar_Create button{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    background-color:#1A282D;
    color: #6EACF0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.Sidebar_Create button:hover{
    background-color:#2a4149;
    
}
.Sidebar_Create{
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Border-Lines);
}

.Sidebar_Create input{
    color: #f0ebeb;
}

.Sidebar_Create input[type=text]{
    background-color: #1A282D;
    color:#f0ebeb;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    width: 200px;

}
.Sidebar_Create input[type=text]::placeholder{
   color: #a0a0a0;    
   scrollbar-width: none;
}
.Sidebar_Create textarea{
    background-color: #1A282D;
    color:#f0ebeb;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
}

.Sidebar_Create textarea::placeholder{
    color:#a0a0a0;
}

.Sidebar_Create input[type=file]::file-selector-button {
    background-color: #1A282D;
    color: #6EACF0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}
.Sidebar_Create input[type=file]::file-selector-button:hover{
    background-color:#2a4149;
    
}  

/* Side Navbar END */

/* Marketplaces START */
.Feed_Container {

    margin-top: 150px;
    margin-left: 360px;
    display: flex;
    flex-wrap: wrap;
}
.News_Row {
    display: flex;
    width: 100%;
}
.News_Post {
    background-color: #1A282D;
    padding: 20px;
    width: calc(40% - 40px); 
    margin: 0 20px 20px 0; 
    border-radius: 10px;
}
.News_Post h2 {
    font-weight: 900;
    color: #f0ebeb;
    font-size: 18px;
    margin-bottom: 10px;
}
.News_Post p {
    color: #a0a0a0;
    font-size: 16px;
    margin-bottom: 10px;
}
.News_Post a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.News_Post img {
    width: 100%;
    max-width: 400px; /* Adjust this value to set the maximum width for the images */
    height: auto; /* This will maintain the aspect ratio of the images */
    object-fit: cover; /* This will ensure the image fills the container while maintaining its aspect ratio */
}
.News_Post:hover{
    background-color:#393A3B ;
}
/* Marketplaces END */
@media screen and (max-width: 414px) and (max-height:896px) {

    .Top_Navbar{
        width: 100%;
    }
    .Logo {
        margin-left: 10px;
        margin-right: 10px;
        font-size:small;
    }
    .Search_Bar {
        display: contents;
        padding: 10px 60px;
    }
    .Search_Container {
        font-size:14px;
    }
    .Search_Input {
        width: 50px;
        font-size: 14px;
    }
    .Side_Navbar {
        display: none;
        margin-left: 0px;
        padding-left: 10px;
    }
    .Side_Navbar.active {
        display: block;
    }
    .Notification_Profile {
        display: flex;
        transform: scale(.5);
        margin-right: 50px;
    }
    .Label{
        margin-left: 8%; 
    }
    .Feed_Container{
        margin-left: 0%; 
        width: 100%;
    }
    .Navbar_Right{
        display: none;
    }
    
    .News_Row{
        flex-direction: column;
        align-items: center;
    }
    .News_Post {
        width: calc(73% - 40px); 
    }
}