body {
    margin: 0;
    padding: 0;
    background-color: #0B1416;
    --Border-Lines: #2d2d2e;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div a {
    text-decoration: none;
}


/* Top Navbar START */
.Top_Navbar {
    background-color: #0B1416;
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--Border-Lines);
}
.Logo {
    margin: 0;
}
.Person_Icon,
.Notification_Icon,
.Add {
    margin-right: 20px;
    color: #f0ebeb;
    font-size: 40px;
}
/* Top Navbar END */


/* Search Bar START */
.Search_Bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.Search_Container {
    position: relative;
    font-size: 30px;
}
.Search_Icon {
    position: absolute;
    left: 170px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0ebeb;
}
.Search_Input {
    width: 700px;
    margin-left: 150px;
    background-color: #1A282D;
    padding: 16px 60px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}
/* Search Bar END */


/* Side Navbar START */
.Side_Navbar {
    padding-top: 90px;
    margin-top: -100px;
    margin-left: 100px;
    background-color: #0B1416;
    width: 240px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--Border-Lines);
}
.Side_Navbar a {
    color: #f0ebeb;
    font-size: 18px;
    padding: 8px;
}
.Message_Icon,
.Sidebar_Home,
.Sidebar_profile,
.Sidebar_Store {
    padding-bottom: 20px;
    color: #f0ebeb;
    font-size: 16px;
    text-align: start;
    position: relative;
}
.Sidebar_Store::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--Border-Lines);
    width: 90%;
    position: absolute;
    bottom: 0;
}
.Sidebar_Store:hover,
.Sidebar_profile:hover,
.Sidebar_Home:hover {
    background-color: #393A3B;
    border-radius: 5px;
    width: 160px;
}


/* Side Navbar Community */
.Communities h3 {
    font-size: 16px;
    color: #606a6b;
}
.Sidebar_Create {
    color: #fffcfc;
}
.Sidebar_Create a {
    font-size: 16px;
}
/* Side Navbar END */


/* Feed START */
.Label{
    color: #f0ebeb;
    margin-top: 120px; 
    margin-left: 63%; 
    width: 100%;
    transform: translateX(-40%); 
    border-bottom: 1px solid var(--Border-Lines);
}
.user{
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.profilePic{
    width: 60px;
    padding: 25px;
}
.profileNav{
    display: flex;
    align-items: center;
    margin-left: 10px;

}
.profileOption{
    padding: 0px 25px 0px 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: small;
}
.profileOption:hover{
    border: 1px;
    border-radius: 20px;
    background-color: #33464C;
}
.ProfilePost {
    display: flex;
    align-items: center;
    margin: 10px 10px 20px 80px;
}

.CreateAPost{
    display: flex;
    border: 1px solid aliceblue;
    padding: 10px 10px 10px 10px;
    border-radius: 18px;
    margin-left: 10px;
}
.CreateAPost a {
    color: #fffcfc;
}

.Feed_Container{
    margin-top: 40px; 
    margin-left: 360px;
    flex: 0.5;
    width: calc(30% - 360px);
    min-width: fit-content;
    overflow-y: scroll;
    scrollbar-width: none;
}
/* Feed END */


/* Side-Profile START */
.Side_Profile {
    background-color: #1A282D;
    padding: 20px;
    margin-left: 1100px;
    border-radius: 10px;
}

.Profile_Info {
    display: flex;
    align-items: center;
}

.Profile_Pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Profile_Description {
    margin-left: 15px;
}

.Profile_Description h3 {
    margin: 0;
    color: #f0ebeb;
}

.Profile_Description p {
    margin: 5px 0;
    color: #f0ebeb;
}

.Profile_Description a {
    color: #f0ebeb;
    text-decoration: none;
    font-weight: bold;
}
/* Side-Profile END */


/* Timeline START */
.Timeline {
    margin-left: 360px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
}

.column-content{
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.Timeline_Item {
    margin-bottom: 20px;
    width: 80%;
    border-radius: 20px;  
    background-color:#1A282D;
    padding: 50px;
}

.Timeline_Content {
    color: aliceblue;
    display: flex;
    align-items: flex-start;
}

.Timeline_Content img{
    width: 60px;
    border-radius: 30px;
    margin-right: 10px;
}

.Timeline_Content h5 {
    margin-left: 5px;
    color: #606a6b;
}

.Timeline_Caption{
    color: aliceblue;
}

.icon_buttons {
    color: aliceblue;
    justify-content: space-between;
    align-items: center;

}
/* Timeline END */


/* Side-Profile START */

.container {
    display: flex;
    justify-content: flex-end;
    padding: 13px 5%;
}

.profile-sidebar {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #013a3a 0%, #1d5061 40%, #088f8f 100%);
}

.profile-sidebar:before {
    content: '';
    display: block;
    height: 100px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar-title h2 {
    margin: 0;
}

.sales{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.right-sales{
    line-height: 0.2;
}
.left-sales{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.sales p{
    font-size: 12px;
}
.sales a{
    font-size: 12px;
    text-decoration: none;
    color: #9acd32;
}
.left-sales span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #01796f;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.share-button,
.edit-profile .edit,
.add button {
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    background-color: #01796f;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.share-button:hover,
.edit-profile .edit:hover,
.add button:hover {
    border-radius: 20px;
    background-color: #33464C;
}

.profile-description {
    display: flex;
    flex-wrap: wrap;
}

.profile-description p {
    padding: 10px;
    margin-right: 30px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
}

.edit-profile .edit,
.add {
    margin-top: 20px;
}

.edit-profile .edit,
.add button {
    padding: 10px 20px;
    margin-right: 30px;
    border: none;
    border-radius: 50px;
    background-color: #01796f;
    color: white;
    cursor: pointer;
}

.edit-profile .edit:last-child,
.add button:last-child {
    margin-right: 0;
}

.edit-profile .edit:hover,
.add button:hover {
    background-color: #33464C;
}

.edit-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.edit-profile .edit{
    max-width: 30%;
}

.desc h4,
.desc p{
    margin: 0;
}

.desc p{
    font-size: 14px;
}

.desc{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
}

.editpic{
    width: 60px;
    border-radius: 50%;
}

/* Side-Profile End */